body {
    background-color: red;
}
.circle {
    min-width: 100px;
    min-height: 100px;
    background-color: aliceblue;
    border-radius: 600px;
    border: 10px groove #333;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}