.about-main-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.about-title {
  text-align: center;
  line-height: 50px
}

.about-picture-carousel {
  display: flex;
  justify-content: center;
}

.about-img-carousel {
  max-width: 400px;
  max-height: 400px;
}

.about-paragraph {
  text-indent: 4rem;
  text-align: justify;
  align-self: center;
  font-size: 1.5rem;
  max-width: 600px;
}

.about-h1-description {
  text-align: center;  
}


/*DEIXAR EM ULTIMO */
@media only screen and (max-width: 600px) {
  .about-main-container {
    padding: 0;
  }

  .about-paragraph {
    text-indent: 1rem;
    font-size: 1rem;
  }

  .about-img-carousel {
    max-width: 300px;
  }
}

